
id
<div [formGroup]="form">
<input type="number" formControlName="demandId"/></div><input type ="submit" value="chercher cette annonce" (click)="find()"/>
<h1>{{title}}</h1>
<div class="status" [ngStyle]="{'color': validation==='disponible'?'green':'red'}">
    <p>{{validation}}</p>
</div>

<div class="description">
<p>{{description}}</p>

</div>

<div class="coord">coordonnées</div>

<button type="button" class="btn btn-info">Page principale</button>
<button type="button" class="btn btn-success linkBtn" id="accept" (click)="accept()">Accepter l'annonce</button>

