<br>
<br>
<div class="card border-primary mb-3 col-10 mx-auto">
    <blockquote class="blockquote text-center">
        <p class="mb-0">Ce projet a été réalisé grâce à la collaboration de 4 personnes issues de la formation JAVA/JEE de l'inti. <br>
        Ensemble nous avancons plus loin.<br><br>
        <strong>Lilas - Antoine - Cécile - Benjamin</strong>
        </p>
        <br>
        <footer class="blockquote-footer">Remerciement à notre formateur <cite title="Source Title">Dhia</cite></footer>
      </blockquote>
</div>
<div class="img-team">
    <img class="d-block w-100" src="https://images.pexels.com/photos/3184310/pexels-photo-3184310.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" style="border-radius: 10px;">
</div>