<br>
<div class="row">
    <div class="container">
        <form [formGroup]="form">
            <div class="card">
                <div class="card-header">Inscription</div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="id">ID</label>
                            <input type="text" id="id" class="form-control" formControlName="id"/>
                            <!-- Ajouter les validations -->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="pseudo">Pseudo</label>
                            <input type="text" id="pseudo" class="form-control" formControlName="pseudo"/>
                            <!-- Ajouter les validations -->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="text" id="email" class="form-control" formControlName="email"/>
                            <!-- Ajouter les validations -->
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password">Mot de Passe</label>
                            <input type="password" id="password" class="form-control" formControlName="password"/>
                            <!-- Ajouter les validations -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input tupe="submit" class="btn btn-success" value="save" (click)="addUser()" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>