<h1 style="text-align:center">Mon profil</h1>
<div class="container" >
  <div class="row">
    <div class="col-lg-12" style="text-align:right">
      <button class="btn btn-danger" type="submit">Déconnexion</button>
    </div>
  </div>
<br/>
<br/>
<br/>
  <div class="row" >
    <div class="col-lg-3">
      <button class="btn btn-link btn-lg" type="submit">Poster une annonce</button>
    </div>
    <div class="col-lg-3">
      <button class="btn btn-link btn-lg" type="submit">Modifier mon profil</button>
    </div>
    <div class="col-lg-3">
      <button class="btn btn-link btn-lg" type="submit">Page Principale</button>
    </div>
    <div class="col-lg-3">
      <button class="btn btn-link btn-lg" type="submit">Tâches en cours</button>
    </div>
  </div>
<br/>
<br/>

<div class="container" style="border: solid 1px; border-radius:25px; padding:20px; margin:20px">
 
  <h3>Mes Informations</h3>
  <br/>
<div class="row">
<div class="col-lg-8">
  <div class="row">
    <div class="col-lg-4">
      <p>Pseudo</p>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-lg-4">
      <p>Code Postal</p>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-lg-4">
      <p>Email</p>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-lg-4">
      <p>Téléphone</p>
    </div>
  </div>
  <br/>
  
  <br/>
<div class="form-group" style="text-align:left">
  <label for="competences"><h3>Mes Compétences</h3></label>
  <ul>
    <li>Ménage</li>
    <li>Conduite</li>
    <li>Course</li>
    <li>Cuisine</li>


  </ul>
</div>
<br/>
  <h3>Mes Annonces</h3>
  <div class="col-lg-6" style="border: solid 1px; border-radius:25px; padding:20px">
    <div>
    <button class="btn btn-link" type="submit">Annonce 1</button>
  </div>
  <div>
    <button class="btn btn-link" type="submit">Annonce 2</button>
  </div>
  <div>
    <button class="btn btn-link" type="submit">Annonce 3</button>
<br/>
</div>
</div>
   
</div>

</div>
<br/>
<br/>
<br/>
